#+title:      Rules Prompt

* RULES :inline:file:heading:task:EMACS_MECHANISM::BLUEPRINT:
:PROPERTIES:
:ID:       b1f44cda-d800-4837-846e-3a8b40536351
:MM_PARENT: none
:MM_ORDER:  205.0
:END:
** TODO :BLUEPRINT_BODY:
** WARNING :BLUEPRINT_BODY:
** DRAFT :BLUEPRINT_BODY:
** RATIFIED :BLUEPRINT_BODY:
** AMENDED :BLUEPRINT_BODY:
** REVOKED :BLUEPRINT_BODY:
