#+title:      Rules Prompt

* RULES :inline:file:heading:task:ATLAS:
:PROPERTIES:
:ID:       b1f44cda-d800-4837-846e-3a8b40536351
:MM_PARENT: none
:MM_ORDER:  205.0
:END:
** TODO
** WARNING
** DRAFT
** RATIFIED
** AMENDED
** REVOKED
